<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AtomicAssignment.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F87596A62AC3DEA400CC1173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F87596B62AC3DEA600CC1173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F87596C02AC3DEA600CC1173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
